@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  margin: 0 auto;
}

header {
  background-color: rgb(25, 25, 58);
}

.header {
  position: relative;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
}

.surface-text-icon {
  fill: #ffffff;
}

.appstore-icon {
  fill: rgba(255,255,255,0.7);
  margin-right: 8px;  
}

.googleplay-icon {
  fill: rgba(255,255,255,0.7);
  margin-right: 5px;
}

.appstore-icon:hover, .googleplay-icon:hover {
  fill: #fff;
}

h2 {
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  color: #e7e7e7;
}

h3 {
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  color: #c1c1c1;
  display: inline;
  padding-left: 5px;
}

p {
  font-family: OpenSans-Regular, sans-serif;
}

a {
  font-family: OpenSans-Regular, sans-serif;
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  background-color: #5e42b0;
  border: none;
  border-radius: 30px;
  display: flex;
  padding-top: 7px;
  padding-bottom: 6px;
  justify-content: center;
}
a:hover {
  color: #fff;
}

a div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a div span {
  font-family: OpenSans-Bold, sans-serif;
  margin-top: 0px;
}

.heading-wrapper {
  position: relative;
}

.heading-wrapper span {
  position: absolute;
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  position: relative;
  top: 10%;
  color: #000;
  display: inline;
  margin-left: 20px;
} 

.heading-wrapper span::before {
  content: '';
  bottom: 2px;
  right: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #5e42b0;
}

.athlets > :nth-child(4) span::before, .players > :nth-child(4) span::before {
  background-color: #fff;
}

.players > :nth-child(4) span {
  color: #8765dd;
}

.athlets > :nth-child(3), .players > :nth-child(3) {
  background-color: #f5f4f9;
}

.athlets > :nth-child(3) p, .players > :nth-child(3) p {
  margin-bottom: 0px;
}

.athlets > :nth-child(4) {
  background-color: #5e42b0;
}

.players > :nth-child(4) {
  background-color: #090c35;
}

.athlets > :nth-child(4) p, .players > :nth-child(4) p {
  color: #fff;
}

.athlets > :nth-child(4) h3, .players > :nth-child(4) h3 {
  margin-top: 0px;
}

.number01, .number02,  .number03 {
  background-color: #5e42b0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number01 span, .number02 span,.number03 span {
  color: #fff;
  position: relative;
}

.number01 span::before, .number02 span::before, .number03 span::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #8f7bc8;
}

.group  {
  position: relative;
}

.group picture img {
  max-width: 100%;
}

.surface-short-icon {
  fill: #ffffff;
}

footer {
  background-color: rgb(25, 25, 58);
}

.footer {
  position: relative;
  z-index: 1;
}

.footer-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
  font-family: OpenSans-Regular, sans-serif;
}

@media (max-width: 640px){

header:before {
  content: " ";
  background: url("../img/football_767.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px; 
  font: 28px/30px OpenSans-Bold, sans-serif;
}

header .surface-text-icon {
  width: 133px;
  margin-top: 33px;
  margin-bottom: 131px;
}

.motto1 {
  padding-bottom: 20px;
  margin-left: 1.5%;
  letter-spacing: 1.5px;
}

.motto2 {
  padding-bottom: 70px;
  margin-left: 18%;
  letter-spacing: 0.9px;
  font: 28px/33px OpenSans-Bold, sans-serif;
}

.motto {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 95%;
  position: relative;
}

a {
  font: 8px/10px OpenSans, sans-serif;
  margin-top: 15px;
}

.appstore-icon {  
  margin-top: -5px;
  margin-left: -3px;
  height: 23px;
  width: 22px;
}

.googleplay-icon {
  margin-left: -32px;
  width: 22px;
  height: 22px;
}

.athlets > :nth-child(1) h2, .players > :nth-child(1) h2 {
  font: 50px/55px OpenSans-Bold, sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 19px;
  padding-right: 20px;
}

.athlets > :nth-child(1) picture  {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 10px;
}

.players > :nth-child(1) picture {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-left: 5px;
}

.athlets > :nth-child(2), .players > :nth-child(2) {
  padding-bottom: 38px;
}

.athlets > :nth-child(3) {
  padding-top: 50px;
  padding-bottom: 50px;
}

.players > :nth-child(3) {
  padding-top: 50px;
  padding-bottom: 55px;
}

.athlets > :nth-child(4) {
  padding-top: 53px;
  padding-bottom: 55px;
}

.players > :nth-child(4) {
  padding-top: 48px;
  padding-bottom: 38px;
}

h3 {
  font-size: 23px;
  padding-right: 20px;
  letter-spacing: 0.5px;
}

.athlets-group p, .players-group p {
  font: 15px/18px OpenSans-Regular, sans-serif;
  letter-spacing: 0.4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.athlets span, .players span {
  font-size: 16px; 
}

.group h2 {
  font: 28px/0px OpenSans-Bold, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -30px;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.be-active h2 {
  padding-bottom: 5px;
}

.find-contact h2 {
  padding-bottom: 10px;
}

.group p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.8px;
  padding-bottom: 58px;
}

.be-active p {
  padding-bottom: 58px;
}

.find-contact p {
  padding-bottom: 38px;
}

.work-it p {
  padding-bottom: 50px;
}

.number01, .number02, .number03 {
  width: 70px;
  height: 70px;
  position: relative;
  bottom: 63px;
  left: 20px;
}

.number01 span, .number02 span,.number03 span {
  font: 14px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_767.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surface-short-icon {
  width: 60px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 72px;
  height: 74px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 15px;
  margin-top: 100px;
  position: relative;
}

.download {
  font: 32px/30px OpenSans-Bold, sans-serif;
  letter-spacing: 1.5px;
  padding-top: 53px; 
  padding-bottom: 3px;
  text-align: center;
  position: relative;
}

.show-everyone {
  font: 14px/30px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 0.8px;
  position: relative;
}

footer .buttons {
  display: flex;
  flex-direction: column;
  width: 88%;
  position: relative;
}

footer .surface-text-icon {
  width: 133px;
  margin-top: 85px;
  margin-bottom: 10px;
  position: relative;
}
}

@media (min-width: 641px) and (max-width: 960px){

header:before {
  content: " ";
  background: url("../img/football_1280.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px; 
  font: 64px/60px OpenSans-Bold, sans-serif;
}

.surface-text-icon {
  width: 160px;
  margin-top: 33px;
  margin-bottom: 130px;
}

.motto1 {
  padding-bottom: 10px;
  margin-left: 8%;
}

.motto2 {
  padding-bottom: 238px;
  margin-left: 21%;
}

.motto {
  display: flex;
  flex-direction: column;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-bottom: 34px;
}

a {
  font: 14px/20px OpenSans, sans-serif;
  flex-direction: row;
  width: 41%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.appstore {
  margin-right: 15px;
}

.googleplay {
  margin-left: 15px;
}

.appstore-icon {
  margin-right: 15px;
  width: 35px;
  height: 35px;
}

.googleplay-icon {
  margin-right: 25px;
  width: 35px;
  height: 35px;
}

h2 {
  font: 80px/0px OpenSans-Bold, sans-serif;
}

h3 {
  font: 32px/30px OpenSans-Bold, sans-serif;
}
.athlets-group p, .players-group p {
  font: 16px/21px OpenSans-Regular, sans-serif;
  position: relative;
  z-index: 1;
}

.players > :nth-child(4) p {
  font: 18px/23px OpenSans-Regular, sans-serif;
}

.athlets-group {
  padding-top: 20px;
  padding-left: 38%;
  padding-right: 20px;
}

.players-group {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 40%;
}

.athlets-group span, .players-group span {
  font-size: 22px;
  float: left;
  margin-left: 0px;
}

.athlets-picture {
  position: relative;
  padding-bottom: 24px;
}

.athlets-picture picture {
  position: absolute;
  left: -120px;
  top: -10px;
}

.athlets-picture img {
	width: 400px;
}

.athlets h2 {
  margin-top: 85px;
  margin-bottom: 25px;
  margin-right: 20px;
  margin-left: 38%;
}

.athlets > :nth-child(2) {
  padding-bottom: 15px;
}

.athlets > :nth-child(3) {
  padding-top: 20px;
  padding-bottom: 35px;
}

.athlets > :nth-child(4) {
  padding-top: 15px;  
  padding-bottom: 5px;
}

.players-picture {
	position: relative;
}

.players-picture picture {
  position: absolute;
  right: 0px;
  top: -70px;
  z-index: 0;
}

.players-picture img {
	width: 370px;
}

.players h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.players > :nth-child(2) {
  padding-bottom: 12px;
}

.players > :nth-child(3) {
  padding-top: 20px;
  padding-bottom: 33px;
}

.players > :nth-child(4) {
  padding-top: 17px;  
  padding-bottom: 16px;
}

.group p {
  font-size: 24px;
  padding-bottom: 70px;
  margin-bottom: 0;
  padding-left: 20px;
}

.group h2 {
  padding-top: 0px;
  margin-top: -40px;
  margin-bottom: 45px;
  padding-left: 20px;
}

.number01, .number02,  .number03 {
  width: 116px;
  height: 116px;
  position: relative;
  bottom: 90px;
  left: 20px;
}

.number01 span, .number02 span,.number03 span {
  font: 24px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_1280.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surface-short-icon {
  width: 105px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 137px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 30px;
  margin-top: 90px;
  position: relative;
}

.download {
  font: 80px/80px OpenSans-Bold, sans-serif;
  padding-top: 40px; 
  text-align: center;
  position: relative;
}

.show-everyone {
  font: 36px/50px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  padding-bottom: 205px;
  text-align: center;
  position: relative;
}

footer a {
  width: 38%;
}

footer .surface-text-icon {
  width: 205px;
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
}
}

@media (min-width: 961px) and (max-width: 1920px){

header:before {
  content: " ";
  background: url("../img/football_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 95px; 
  font: 90px/90px OpenSans-Bold, sans-serif;
}

.surface-text-icon {
  width: 191px;
  margin-top: 35px;
}

.motto1 {
  margin-top: 190px;
  padding-bottom: 15px;
  margin-left: 20px;
}

.motto2 {
  padding-bottom: 140px;
  margin-left: 28%;
}

.motto {
  align-self: flex-start;
  width: 100%;
}

.buttons {
  display: flex;
  position: relative;
  padding-bottom: 0px;
}

a {
  font: 14px/20px OpenSans, sans-serif;
  flex-direction: row;
  width: 260px;
  height: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.appstore {
  margin-right: 15px;
}

.googleplay {
  margin-left: 15px;
}

.appstore-icon, .googleplay-icon {
  margin-right: 15px;
  width: 40px;
  height: 40px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.athlets h2 {
  margin-top: 55px;
  margin-bottom: 45px;
  padding-left: 52%;
  padding-right: 5%;
}

.athlets-group span, .players-group span {
  font-size: 22px;
  margin-left: 0;
}

.athlets-group p, .players-group p {
  font: 20px/28px OpenSans-Regular, sans-serif;
}

.athlets-group {
  padding-left: 52%;
  padding-right: 5%;
}

.athlets-picture {
	position: relative;
}

.athlets-picture picture {
  position: absolute;
  left:  19%;
  top: -40px;
}

.athlets-picture img {
  width: 470px;
}

.athlets > :nth-child(3) {
  padding-top: 10px;
  padding-bottom: 15px;
}

.athlets > :nth-child(4) {
  padding-top: 20px;
  padding-bottom: 15px;

}

.players-group {
  padding-left: 9%;
  padding-right: 45%;
}

.players-picture {
  position: relative;
}

.players-picture picture {
  position: absolute;
  right: 100px;
  top: -40px;
}

.players-picture img {
  width: 800px;
}

.players h2 {
  margin-top: 57px;
  margin-bottom: 40px;
  padding-left: 9%
}

.players > :nth-child(2) {
  padding-bottom: 35px;
}

.players > :nth-child(3) {
  padding-top: 10px;
  padding-bottom: 47px;
}

.players > :nth-child(4) {
  padding-top: 20px;
  padding-bottom: 20px;
}


.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles :nth-child(even){
  flex-direction: row-reverse;
}

.group picture {
  width: 50%;
  margin-bottom: -4px;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.articles :nth-child(odd) .content{
  padding-left: 80px;
}

.articles :nth-child(even) .content{
  padding-right: 90px;
}

.group p {
  font-size: 24px;
  padding-left: 20px;
}

.group h2 {
  margin: 0;
  padding-left: 20px;
}

.number01, .number02, .number03 {
  width: 168px;
  height: 155px;
  position: absolute;
  top: 150px;
}

.number01 span, .number02 span,.number03 span {
  font: 24px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  margin-top: 200px;
  margin-bottom: 150px;
}

.footer-motto {
  display: flex;
  flex-direction: column;
}

.surface-short-icon {
  width: 105px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 137px;
  margin-right: 30px;
  margin-top: -10px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 30px;
  position: relative;
}

.download {
  font: 80px/60px OpenSans-Bold, sans-serif;
  text-align: center;
  position: relative;
}

.show-everyone {
  font: 30px/35px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  text-align: left;
  margin-top: 10px;
  margin-left: 5px;
  position: relative;
}

footer .buttons {
  margin-top: -65px;
}

footer .surface-text-icon {
  width: 190px;
  margin-top: 200px;
  margin-bottom: 50px;
}
}

@media (min-width: 1921px) {

header:before {
  content: " ";
  background: url("../img/football_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  max-width: 1920px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 105px; 
  font: 90px/90px OpenSans-Bold, sans-serif;
}

.surface-text-icon {
  width: 191px;
  margin-top: 35px;
}

.motto1 {
  margin-top: 190px;
  padding-bottom: 15px;
  margin-left: 20px;
}

.motto2 {
  padding-bottom: 140px;
  margin-left: 28%;
}

.motto {
  align-self: flex-start;
  width: 100%;
}

.buttons {
  display: flex;
  position: relative;
  padding-bottom: 0px;
}

a {
  font: 14px/20px OpenSans, sans-serif;
  flex-direction: row;
  width: 260px;
  height: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.appstore {
  margin-right: 15px;
}

.googleplay {
  margin-left: 15px;
}

.appstore-icon, .googleplay-icon {
  margin-right: 15px;
  width: 40px;
  height: 40px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.athlets h2 {
  margin-top: 55px;
  margin-bottom: 45px;
  padding-left: 52%;
  padding-right: 5%;
}

.athlets-group span, .players-group span {
  font-size: 22px;  
  margin-left: 0;
}

.athlets-group p, .players-group p {
  font: 20px/28px OpenSans-Regular, sans-serif;
}

.athlets-group {
  padding-left: 52%;
  padding-right: 5%;
}

.athlets-picture {
	position: relative;
}

.athlets-picture picture {
  position: absolute;
  left:  19%;
  top: -40px;
}

.athlets-picture img {
  width: 470px;
}

.athlets > :nth-child(3) {
  padding-top: 10px;
  padding-bottom: 15px;
}

.athlets > :nth-child(4) {
  padding-top: 20px;
  padding-bottom: 15px;

}

.players-group {
  padding-left: 9%;
  padding-right: 45%;
}

.players-picture {
  position: relative;
}

.players-picture picture {
  position: absolute;
  right: 15%;
  top: -40px;
}

.players-picture img {
  width: 800px;
}

.players h2 {
  margin-top: 57px;
  margin-bottom: 40px;
  padding-left: 18%;
}

.players > :nth-child(2) {
  padding-bottom: 35px;
}

.players > :nth-child(3) {
  padding-top: 10px;
  padding-bottom: 47px;
}

.players > :nth-child(4) {
  padding-top: 20px;
  padding-bottom: 20px;
}

.athlets-group-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.athlets-group-content {
  padding-top: 2%;
  padding-left: 0%;
  padding-right: 35%;
}

.players-group-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.players-group-content {
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 0%;
}


.articles {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;	
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles :nth-child(even){
  flex-direction: row-reverse;
}

.group picture {
  width: 50%;
  margin-bottom: -4px;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.articles :nth-child(odd) .content{
  padding-left: 80px;
}

.articles :nth-child(even) .content{
  padding-right: 90px;
}

.group p {
  font-size: 24px;
  padding-left: 20px;
}

.group h2 {
  margin: 0;
  padding-left: 20px;
}

.number01, .number02, .number03 {
  width: 168px;
  height: 155px;
  position: absolute;
  top: 150px;
}

.number01 span, .number02 span,.number03 span {
  font: 24px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  margin-top: 200px;
  margin-bottom: 150px;
}

.footer-motto {
  display: flex;
  flex-direction: column;
}

.surface-short-icon {
  width: 105px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 137px;
  margin-right: 30px;
  margin-top: -10px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 30px;
  position: relative;
}

.download {
  font: 80px/60px OpenSans-Bold, sans-serif;
  text-align: center;
  position: relative;
}

.show-everyone {
  font: 30px/35px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  text-align: left;
  margin-top: 10px;
  margin-left: 5px;
  position: relative;
}

footer .buttons {
  margin-top: -65px;
}

footer .surface-text-icon {
  width: 190px;
  margin-top: 200px;
  margin-bottom: 50px;
}
}
