@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  margin: 0 auto;
}

header {
  background-color: rgb(25, 25, 58);
}

.header {
  position: relative;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
}

.surface-text-icon {
  fill: #ffffff;
}

.appstore-icon {
  fill: #ffffff;
  width: 20px;
  margin-right: 5px;
}

.googleplay-icon {
  fill: #ffffff;
  width: 22px;
  margin-right: 5px;
}

h2 {
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  color: #e7e7e7;
}

h3 {
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  color: #c1c1c1;
  display: inline;
  padding-left: 5px;
}

p {
  font-family: OpenSans-Regular, sans-serif;
}

a {
  font-family: OpenSans-Regular, sans-serif;
  color: #fff;
  text-decoration: none;
  background-color: #5e42b0;
  border: none;
  border-radius: 30px;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
}
a:hover {
	color: #000;
}

a div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a div span {
  font-family: OpenSans-Bold, sans-serif;
  margin-top: 0px;
}

.heading-wrapper {
  position: relative;
}

.heading-wrapper span {
  position: absolute;
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  position: relative;
  top: 10%;
  color: #000;
  display: inline;
  margin-left: 20px;
} 

.heading-wrapper span::before {
  content: '';
  bottom: 2px;
  right: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #5e42b0;
}

.athlets03 span::before, .players03 span::before {
  background-color: #fff;
}

.players03 span {
  color: #8765dd;
}

.athlets02, .players02 {
  background-color: #f5f4f9;
}
.athlets02 p, .players02 p {
  margin-bottom: 0px;
}

.athlets03 {
  background-color: #5e42b0;
}

.players03 {
  background-color: #090c35;
}

.athlets03 p, .players03 p {
  color: #fff;
}

.athlets03 h3, .players03 h3 {
  margin-top: 0px;
}

.number01, .number02,  .number03 {
  background-color: #5e42b0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number01 span, .number02 span,.number03 span {
  color: #fff;
  position: relative;
}

.number01 span::before, .number02 span::before, .number03 span::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #8f7bc8;
}

.group  {
  position: relative;
}

.group picture img {
  max-width: 100%;
}

.surface-short-icon {
  fill: #ffffff;
}

footer {
  background-color: rgb(25, 25, 58);
}

.footer {
  position: relative;
  z-index: 1;
}

.footer-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
  font-family: OpenSans-Regular, sans-serif;
}

@media (max-width: 640px){

header:before {
  content: " ";
  background: url("../img/football_767.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px; 
  font: 28px/30px OpenSans-Bold, sans-serif;
}

header .surface-text-icon {
  width: 133px;
  margin-top: 33px;
  margin-bottom: 135px;
}

.motto1 {
  padding-bottom: 15px;
  margin-left: 20px;
}

.motto2 {
  padding-bottom: 90px;
  margin-left: 63px;
  margin-right: 9%;
}

.motto {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
}

a {
  font: 8px/10px OpenSans, sans-serif;
  margin-top: 15px;
}

.googleplay-icon {
  margin-left: -15px;
}

div.athlets01, div.players01 {
  padding-top: 0px;
}

.athlets01 picture, .players01 picture {
  display: flex;
  justify-content: center;
}

.athlets01, .players01 {
  padding-top: 30px;
  padding-bottom: 40px;
}

.athlets02, .players02 {
  padding-top: 27px;
  padding-bottom: 55px;
}

.athlets03, .players03 {
  padding-top: 50px;
  padding-bottom: 55px;
}

.athlets01 h2, .players01 h2 {
  font-size: 50px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.group h2 {
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -30px;
}

h3 {
  font-size: 23px;
  padding-right: 20px;
}

.athlets-group p, .players-group p {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.group p {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.athlets01 span, .athlets02 span, .athlets03 span, .players01 span, .players02 span, .players03 span {
  font-size: 16px;
}

.number01, .number02, .number03 {
  width: 70px;
  height: 70px;
  position: relative;
  bottom: 50px;
  left: 20px;
}

.number01 span, .number02 span,.number03 span {
  font: 14px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_767.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surface-short-icon {
  width: 60px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 72px;
  height: 74px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 10px;
  margin-top: 100px;
}

.download {
  font: 32px/30px OpenSans-Bold, sans-serif;
  padding-top: 60px; 
}

.show-everyone {
  font: 14px/30px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  padding-bottom: 60px;
}

footer .surface-text-icon {
  width: 133px;
  margin-top: 80px;
  margin-bottom: 10px;
}
}

@media (min-width: 641px) and (max-width: 960px){

header:before {
  content: " ";
  background: url("../img/football_1280.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px; 
  font: 64px/60px OpenSans-Bold, sans-serif;
}


.surface-text-icon {
  width: 205px;
  margin-top: 40px;
  margin-bottom: 180px;
}

.motto1 {
  padding-bottom: 15px;
  margin-left: 8%;
}

.motto2 {
  padding-bottom: 90px;
  margin-left: 21%;
  margin-right: 2%;
}

.motto {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

a {
  font: 14px/20px OpenSans, sans-serif;
  flex-direction: row;
  width: 40%;
}

.appstore {
  margin-right: 15px;
}

.googleplay {
  margin-left: 15px;
}

.appstore-icon, .googleplay-icon {
  margin-right: 15px;
}

h2 {
  font-size: 80px;
}

h3 {
  font: 32px/30px OpenSans-Bold, sans-serif;
}
.athlets-group p, .players01 p, .players02 p {
  font: 16px/28px OpenSans-Regular, sans-serif;
}

.players03 p {
  font: 18px/28px OpenSans-Regular, sans-serif;
}

.athlets-group {
  padding-top: 20px;
  padding-left: 46%;
  padding-right: 30px;
}

.players-group {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 50%;
}

.athlets-group span, .players-group span {
  font-size: 22px;
  float: left;
}

main .athlets01 :nth-child(3), main .athlets01 :nth-child(4) {
  diplay: flex;
  flex-direction: row;
}

.athlets01 {
  position: relative;
  padding-bottom: 24px;
}

.athlets01 picture {
  position: absolute;
  left: -150px;
  top: 115px;
}

.athlets01 h2, .players01 h2 {
  margin-top: 85px;
  margin-bottom: 20px;
}

.athlets02, .players02 {
  padding-bottom: 40px;
}

.athlets03, .players03 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.players01 {
  margin-bottom: 24px;
  position: relative;
}

.players01 picture {
  position: absolute;
  right: 0px;
  top: 60px;
}

.group p {
  font-size: 24px;
  padding-bottom: 90px;
  margin-bottom: 0;
  padding-left: 20px;
}

.group h2 {
  padding-top: 0px;
  margin-top: -50px;
  margin-bottom: 35px;
  padding-left: 20px;
}

.number01, .number02,  .number03 {
  width: 116px;
  height: 116px;
  position: relative;
  bottom: 90px;
  left: 20px;
}

.number01 span, .number02 span,.number03 span {
  font: 24px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_1280.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surface-short-icon {
  width: 105px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 137px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 30px;
  margin-top: 125px;
}

.download {
  font: 80px/80px OpenSans-Bold, sans-serif;
  padding-top: 80px; 
  text-align: center;
}

.show-everyone {
  font: 36px/50px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  padding-bottom: 285px;
  text-align: center;
}

footer .surface-text-icon {
  width: 205px;
  margin-top: 50px;
  margin-bottom: 20px;
}
}

@media (min-width: 961px) and (max-width: 1920px){

header:before {
  content: " ";
  background: url("../img/football_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 105px; 
  font: 90px/90px OpenSans-Bold, sans-serif;
}

.surface-text-icon {
  width: 191px;
  margin-top: 45px;
}

.motto1 {
  margin-top: 280px;
  padding-bottom: 15px;
  margin-left: 20px;
}

.motto2 {
  padding-bottom: 225px;
  margin-left: 28%;
}

.motto {
  align-self: flex-start;
  width: 100%;
}

.buttons {
  display: flex;
  position: relative;
}

a {
  font: 14px/20px OpenSans, sans-serif;
  flex-direction: row;
  width: 310px;
  height: 75px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.appstore {
  margin-right: 15px;
}

.googleplay {
  margin-left: 15px;
}

.appstore-icon, .googleplay-icon {
  margin-right: 15px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.athlets01 h2, .players01 h2 {
  margin-top: 85px;
  margin-bottom: 40px;
}

.athlets-group span, .players-group span {
  font-size: 22px;
}

.athlets-group p, .players-group p {
  font: 20px/28px OpenSans-Regular, sans-serif;
}

.athlets-group {
  padding-left: 57%;
  padding-right: 5%;
}

.players-group {
  padding-left: 5%;
  padding-right: 58%;
}

.athlets01, .players01 {
  position: relative;
  padding-bottom: 35px;
}

.athlets02, .players02 {
  padding-bottom: 55px;
}

.athlets03, .players03 {
  padding-bottom: 55px;
  padding-top: 55px;
}

.athlets01 picture {
  position: absolute;
  left:  5%;
  top: 25px;
}

.players01 picture {
  position: absolute;
  right: 0px;
  top: 0px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles :nth-child(even){
  flex-direction: row-reverse;
}

.group picture {
  width: 50%;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.articles :nth-child(odd) .content{
  padding-left: 80px;
}

.articles :nth-child(even) .content{
  padding-right: 90px;
}

.group p {
  font-size: 24px;
  padding-left: 20px;
}

.group h2 {
  margin: 0;
  padding-left: 20px;
}

.number01, .number02, .number03 {
  width: 168px;
  height: 155px;
  position: absolute;
  top: 100px;
}

.number01 span, .number02 span,.number03 span {
  font: 24px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  margin-top: 230px;
  margin-bottom: 150px;
}

.footer-motto {
  display: flex;
  flex-direction: column;
}

.surface-short-icon {
  width: 105px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 137px;
  margin-right: 30px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 30px;
}

.download {
  font: 80px/60px OpenSans-Bold, sans-serif;
  text-align: center;
}

.show-everyone {
  font: 30px/35px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  text-align: left;
  margin-top: 10px;
  margin-left: 5px;
}

footer .surface-text-icon {
  width: 190px;
  margin-top: 250px;
  margin-bottom: 50px;
}
}

@media (min-width: 1921px) {

header:before {
  content: " ";
  background: url("../img/football_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.header-wrapper {
  max-width: 1920px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 105px; 
  font: 90px/90px OpenSans-Bold, sans-serif;
}

.surface-text-icon {
  width: 191px;
  margin-top: 45px;
}

.motto1 {
  margin-top: 280px;
  padding-bottom: 15px;
  margin-left: 20px;
}

.motto2 {
  padding-bottom: 225px;
  margin-left: 28%;
}

.motto {
  align-self: flex-start;
  width: 100%;
}

.buttons {
  display: flex;
  position: relative;
}

a {
  font: 14px/20px OpenSans, sans-serif;
  flex-direction: row;
  width: 310px;
  height: 75px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.appstore {
  margin-right: 15px;
}

.googleplay {
  margin-left: 15px;
}

.appstore-icon, .googleplay-icon {
  margin-right: 15px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.athlets01 h2, .players01 h2 {
  margin-top: 85px;
  margin-bottom: 40px;
}

.athlets-group span, .players-group span {
  font-size: 22px;
}

.athlets-group p, .players-group p {
  font: 20px/28px OpenSans-Regular, sans-serif;
}

.athlets-group {
  padding-top: 2%;
  padding-left: 57%;
  padding-right: 5%;
}

.players-group {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 58%;
}

.athlets01, .players01 {
  position: relative;
  padding-bottom: 35px;
}


main .athlets02, main .players02 {
  background-color: #f5f4f9;
  padding-bottom: 55px;
}

.athlets01-wrapper, .athlets02-wrapper, .athlets03-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

}


.athlets03, .players03 {
  padding-bottom: 55px;
  padding-top: 55px;
}

.athlets01 picture {
  position: absolute;
  left:  5%;
  top: 25px;
}

.players01 picture {
  position: absolute;
  right: 0px;
  top: 0px;
}

.articles {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;	
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles :nth-child(even){
  flex-direction: row-reverse;
}

.group picture {
  width: 50%;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.articles :nth-child(odd) .content{
  padding-left: 80px;
}

.articles :nth-child(even) .content{
  padding-right: 90px;
}

.group p {
  font-size: 24px;
  padding-left: 20px;
}

.group h2 {
  margin: 0;
  padding-left: 20px;
}

.number01, .number02, .number03 {
  width: 168px;
  height: 155px;
  position: absolute;
  top: 100px;
}

.number01 span, .number02 span,.number03 span {
  font: 24px/30px OpenSans-Bold, sans-serif;
}

footer:before {
  content: " ";
  background: url("../img/game_1920.jpg") no-repeat;
  background-size: cover;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0;
}

.footer-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-icon-text {
  display: flex;
  margin-top: 230px;
  margin-bottom: 150px;
}

.footer-motto {
  display: flex;
  flex-direction: column;
}

.surface-short-icon {
  width: 105px;
}

.short-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 137px;
  margin-right: 30px;
  background: linear-gradient(#7755d7, #50379b);
  border-radius: 30px;
}

.download {
  font: 80px/60px OpenSans-Bold, sans-serif;
  text-align: center;
}

.show-everyone {
  font: 30px/35px OpenSans-Regular, sans-serif;
  color: #9b8ec1;
  text-align: left;
  margin-top: 10px;
  margin-left: 5px;
}

footer .surface-text-icon {
  width: 190px;
  margin-top: 250px;
  margin-bottom: 50px;
}
}
